<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>OSS View</title>
    <script src="//unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 导入样式 -->
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <!-- 导入 Vue 3 -->
    <script src="//unpkg.com/vue@next"></script>
    <!-- 导入组件库 -->
    <script src="//unpkg.com/element-plus"></script>

    <style type="text/css">
        table {
            width: 100%;
            border: 1px solid;
        }
        
        td {
            border: 1px solid;
        }
        
        th {
            border: 1px solid;
        }
    </style>
</head>

<body>
    <div id="app">
        <div>
            <el-select v-model="selectedBucketKey" class="m-2" placeholder="Select" size="large" @change="onBucketSelectionChanged">
                <el-option v-for="item in buckets" :key="item.key" :label="item.key" :value="item.key">
                </el-option>
            </el-select>
            <table>
                <thead>
                    <tr>
                        <th colspan="5">
                            <el-breadcrumb separator="/">
                                <el-breadcrumb-item v-for="(dir,index) in currentPathItems" :to="{path:'/'}" @click="onClickDir(index)">
                                    {{dir}}
                                </el-breadcrumb-item>
                            </el-breadcrumb>
                        </th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Size</th>
                        <th>Preview</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="file of files">
                        <td style="text-align: left">
                            <el-link href="#" @click="onClickFile(file)">{{file.name}}</el-link>
                        </td>
                        <td style="text-align: center">{{translateFileType(file)}}</td>
                        <td style="text-align: center">
                            {{file.type==='directory'?"":((Math.round(file.size/1024))+"KB")}}
                        </td>
                        <td style="text-align: center">
                            <el-image v-if="file.preview!=null" :src="file.preview" :preview-src-list="file.urls" :initial-index="0">
                            </el-image>
                        </td>
                        <td style="text-align: center">
                            <el-link href="#" @click="onDeleteClicked(file)" v-if="file.type=='file'">Delete</el-link>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <el-button :disabled="null==pageToken" @click="onPreviousClicked">Previous</el-button>
                <el-button :disabled="null==nextPageToken" @click="onNextClicked">Next</el-button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const urlPrefix = ""
        const fileSvc = {
            loadFiles(bucketKey, prefix, limit, continuationToken) {
                return new Promise((resolve) => {
                    axios.get(urlPrefix + "/api/oss/files", {
                            params: {
                                bucketKey: bucketKey,
                                prefix: prefix,
                                limit: limit,
                                continuationToken: continuationToken
                            }
                        })
                        .then(result => {
                            resolve(result.data)
                        })
                })
            },
            deleteFiles(fileIds) {
                return new Promise((resolve) => {
                    axios.delete(urlPrefix + "/api/oss/files", {
                            data: fileIds
                        })
                        .then(result => {
                            resolve(result)
                        })
                })
            },

            loadBuckets() {
                return new Promise((resolve) => {
                    axios.get(urlPrefix + "/api/oss/buckets")
                        .then(result => {
                            resolve(result.data)
                        })
                })
            }
        }

        const App = {
            data() {
                return {
                    files: [],
                    pageSize: 500,
                    pageToken: null,
                    nextPageToken: null,
                    previousPageToken: null,
                    pageTokens: [],
                    buckets: [],
                    selectedBucketKey: null,
                    selectedBucket: null,
                    currentPath: "",
                    currentPathItems: ""
                }
            },

            mounted() {
                this.loadBuckets()
                    // this.loadPath("")
            },

            methods: {
                onBucketSelectionChanged(key) {
                    for (bucket of this.buckets) {
                        if (bucket.key == key) {
                            this.selectedBucket = bucket
                        }
                    }
                    this.loadPath(this.selectedBucket.prefix)
                },
                loadBuckets() {
                    let self = this
                    fileSvc.loadBuckets().then(data => {
                        self.buckets = data
                    })
                },
                translateFileType(file) {
                    if (file.type === "directory") {
                        return "Directory"
                    } else {
                        let fileNames = file.name.split(".")
                        let ext = fileNames[fileNames.length - 1]
                        switch (ext) {
                            case "jpg":
                            case "png":
                            case "jpeg":
                                return "Image File"
                                break
                            default:
                                return "Common File"
                                break
                        }
                    }
                },

                onDeleteClicked(file) {
                    const self = this
                    if (confirm("Are you sure want to delete?\n" + file.name)) {
                        fileSvc.deleteFiles([file.key])
                            .then(() => {
                                self.loadFiles()
                            })
                    }
                },
                loadFiles() {
                    const self = this
                    fileSvc.loadFiles(self.selectedBucket.key, self.currentPath, self.pageSize, self.pageToken)
                        .then((result) => {
                            let fileInfos = result.fileInfos
                            self.nextPageToken = fileInfos.nextContinuationToken
                            if (self.pageTokens.indexOf(self.nextPageToken) < 0) {
                                self.pageTokens.push(self.nextPageToken)
                            }
                            let pageIdx = self.pageTokens.indexOf(self.pageToken)
                            if (pageIdx > 0) {
                                self.previousPageToken = self.pageTokens[pageIdx - 1]
                            } else {
                                self.previousPageToken = null
                            }
                            let fileList = []
                            for (dir of fileInfos.commonPrefixes) {
                                let dirName = dir.split("/")
                                dirName = dirName[dirName.length - 2]
                                fileList.push({
                                    name: dirName,
                                    path: dir,
                                    type: "directory"
                                })
                            }
                            for (file of fileInfos.objectSummaries) {
                                let fileName = file.key.split("/")
                                fileName = fileName[fileName.length - 1]
                                fileList.push({
                                    name: fileName,
                                    size: file.size,
                                    key: file.key,
                                    preview: result.previewUrls[file.key],
                                    urls: [result.urls[file.key]],
                                    type: "file",
                                })
                            }
                            self.currentPath = fileInfos.prefix
                            self.files = fileList
                        })
                },

                onNextClicked() {
                    this.pageToken = this.nextPageToken
                    this.loadFiles()
                },
                onPreviousClicked() {
                    this.pageToken = this.previousPageToken
                    this.loadFiles()
                },
                loadPath(path) {
                    this.currentPath = path
                    this.currentPathItems = ["Current Location: ROOT"]
                    let dirs = path.split("/")
                    this.pageTokens = []
                    this.currentPathItems = this.currentPathItems.concat(dirs.splice(0, dirs.length - 1))
                    this.nextPageToken = null
                    this.previousPageToken = null
                    this.pageToken = null
                    this.loadFiles()
                },
                onClickDir(dirIndex) {
                    let path = ""
                    for (let i = 0; i < dirIndex + 1; i++) {
                        if (i == 0) {
                            continue
                        }
                        path = path + this.currentPathItems[i] + "/"
                    }
                    this.loadPath(path)
                },
                onClickFile(file) {
                    if (file.type === "directory") {
                        this.loadPath(file.path)
                    }
                }
            },
        }
        const app = Vue.createApp(App)
        app.use(ElementPlus)
        app.mount("#app ")
    </script>
</body>

</html>